:root{
    --headerGradient: linear-gradient(90deg,blue, purple);
    --backgroundGradient: linear-gradient(10deg, rgb(87, 174, 202), rgb(87, 150, 202));

    --primaryBorder: 1px solid rgba(255, 255, 255, 0.452);
}
body {
    background: var(--backgroundGradient);
    display: flex;
    flex-direction: column;
    
}

header {
    border-bottom: var(--primaryBorder);
    display: flex;
    justify-content: space-between;
    background-color: rgba(41, 92, 168, 0.623);
}

header h1{
    font-size: 24px;
    color:white;
    margin: 10px;
}
main{
    height:100%;
    display: flex;
    justify-content: stretch;
    flex:1 1 ;
}

form{
 display: flex;
 flex-direction: column;
}

input {
    border-radius: 5px;
    border: 1px dashed white;
    margin: 5px 0px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.308);
    color: white;
}

input:focus{
    border: 1px solid white;
    outline:none;
}

button {
    border-radius: 4px;
    padding:5px;
    margin:5px 0;
    background: rgba(6, 143, 255, 0.363);
    border: var(--primaryBorder);
    color: white;
}

button:hover{
    background:rgba(6, 143, 255, 0.363)
}

#searchButton{
    background-color: rgba(0, 110, 255, 0.466);
}

#menuSection {
    background-color: rgba(255, 255, 255, 0.192);
    display:flex;
    flex-direction: column;
    padding: 5px;
    width: 180px;
    border-right: 1px solid rgba(255, 255, 255, 0.452);
}

#menuSection hr{
    border: none;
    margin: 10px 0;
    border-bottom: var(--primaryBorder);
}

#menuSection h6{
    color: white;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}

#popularList{
    display: flex;
    flex-direction: column;
}

#currentSection{
    height: 45%;
    display: flex;
    justify-content: stretch;
    flex: 1 1 3; 
}

#futureSection{
    height:45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1 1 1;
}

#futureSection h3{
    margin:5px;
    display: inline;
    color: white;
}

#contentSection {
    width:100%;
    padding:15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#futureList{
    display: flex;
    justify-content: space-between;
    flex: 1 1;
}

.card{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    border: var(--primaryBorder);
    border-radius: 30px;
    padding: 10px;
    flex-wrap: nowrap;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.171);
    color: white;
    position:relative;
}

.card h3, .card h4{
    white-space: nowrap;
}
.card h3 {
    font-size: 24px;
}
.card h4{
    font-size: 16px;
    margin-top: 5px;
}
.card h5{
    font-size: 12px;
}
.card img{
    width: 50px;
    height: 50px;
    margin: -10px;
}

.temp{
    position: absolute;
    right: 10%;
    top: 25%;
    font-size: 36px;
}
.currentCard{
}

.futureCard{

}

#historyButton{
    display:none;
}


@media screen and (max-width: 998px){
    main{
        flex-direction: column;
        background: var(--backgroundGradient);
    }
    #popularList{
        display:none;
    }
    #menuSection{
        width: 100%;
        flex-direction: row;
        justify-content: center;
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.452);
    }
    #menuSection hr{
        display: none;
    }
    #contentSection{
        flex: 1 1
    }
    #currentSection{
        flex: 1 1;
    }
    #futureSection{
        flex: 1 1;
    }
    form{
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    #searchButton{
        margin-left: 15px;
    }
    #historyButton{
        display: block;
        margin-right: 10px;
    }
}

@media screen and (max-width: 768px){
    #popularList{
        display:none;
    }
    #futureList{
        flex-direction: column;
    }
    
    .currentCard{
        height: 50vh;
    }
    #futureSection{
        margin-top: 20px;
    }
}

.show{
    display:flex !important;
    
    border: 1px solid white;
    position: absolute;
    right: 0;
    margin-right: 25px;
    background: rgb(119, 171, 212);
    border-radius: 15px;
    padding: 10px;
    z-index: 1;
    border-top-right-radius: 0px;
}

.show button{
    /* background-color: rgb(51, 98, 184); */
}